    <br/>
    <footer class="footer">
      <div class="container">
        <span class="text-muted"><a href="https://gitlab.com/ITBio3/safbd" target="_blank">SAFBD (beta)</a> - Licenciado sobre a GPLv3</span>
        <span style="float: right;"><b>Dúvidas e Sugestões:</b> contato@itbio3.org</span>
      </div>
    </footer>
