  <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/sistemas">Sistemas <span class="sr-only">(current)</span></a>
          </li>

          <% if current_user %>
            <li class="nav-item">
              <%= link_to("#{t(:logout)}", destroy_user_session_path, :method => :delete, :class => "nav-link") %>
            </li>

            <li class="nav-item">
              <!-- <%= link_to(image_tag(Gravatar.new(current_user.email).image_url, :size => "25x25") + " (#{current_user.email})", user_path(current_user), :class => "nav-link") %> -->
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to(t(:login), new_user_session_path, :class => "nav-link") %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
